/**
 * @name MacIntegration
 * @version 0.0.1
 * @description Aligns some parts of Discord's UI with the macOS HIG
 * @author Jed Fox
 * @authorLink https://jedfox.com
 * @authorId 706842348239323199
 * @website https://jedfox.com
 * @source https://raw.githubusercontent.com/j-f1/discord-plugins/main/macintegration.theme.css
 */

/*
Key:
.searchBar-6Kv8R2: "Find or start a conversation" on homepage
.header-2V-4Sw: server name header
.container-1r6BKw: main title bar/toolbar with channel name
.macButtons-2MuSAC: window buttons
.guilds-1SWlCJ: servers sidebar
.item-3HknzM.themed-OHr7kt: online/all/pending/blocked tabs
.children-19S4PO: wraps channel title
.scroller-2TZvBN: server list scroll view
.strikethrough-*: red slash across icon
.sidebar-2K8pFh: channel list
.topControls-KKImPZ: wraps top bar in voice channel
.iconWrapper-2OrFZ1: icon buttons in toolbar
.content-yTz4x3: main text channel content
.toolbar-1t6TWx: toolbar buttons in title bar
*/

/* shrink title bar to match native toolbars */
.container-1r6BKw,
.searchBar-6Kv8R2,
.macButtons-2MuSAC,
.header-2V-4Sw {
  height: 38px;
}
.guilds-1SWlCJ {
  margin-top: 38px !important;
}
.typeMacOS-3EmCyP.titleBar-AC4pGV {
  left: 2px;
}

.children-19S4PO .iconWrapper-2OrFZ1 svg {
  height: 20px;
  margin: 0;
  margin-right: 2px;
}

/* friends tab bar */
.item-3HknzM.themed-OHr7kt {
  margin: 0 4px;
}

/* dim/grayscale UI elements when window is not focused */
.container-1r6BKw.container-1r6BKw,
.searchBar-6Kv8R2,
.header-2V-4Sw {
  background: var(--background-secondary);
}

.theme-light:not(.app-focused) .children-19S4PO::after {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    var(--background-secondary)
  );
}
.theme-dark:not(.app-focused) .children-19S4PO::after {
  background: linear-gradient(
    90deg,
    rgba(54, 57, 63, 0) 0,
    var(--background-secondary)
  );
}

:root:not(.app-focused) [aria-controls="ADD_FRIEND-tab"],
:root:not(.app-focused) .scroller-2TZvBN > * {
  filter: grayscale();
}
:root:not(.app-focused) [class^="strikethrough"] {
  color: currentColor;
  opacity: 0.75;
}

.searchBar-6Kv8R2 {
  padding: 0 5px;
}

/* make the title bar white to match Big Sur */
.app-focused .container-1r6BKw.container-1r6BKw,
.app-focused .searchBar-6Kv8R2,
.app-focused .header-2V-4Sw {
  background: var(--background-primary);
}

/* fix crossfade when switching apps */
.header-2V-4Sw {
  transition: none;
}

/* divider between channel list and main body */
.sidebar-2K8pFh {
  border-right: 1px solid var(--background-tertiary);
}

/* always show top controls in voice channel */
.topControls-KKImPZ {
  transform: none !important;
  opacity: 1 !important;
}

/* highlight icons on hover */
.toolbar-1t6TWx .iconWrapper-2OrFZ1 {
  padding: 3px;
  margin: 0 4px;
  height: 30px;
  border-radius: 5px;
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1:hover {
  background: var(--background-modifier-selected);
}

/* make shadow consistent across title bar */
.content-yTz4x3::before {
  top: -38px;
  height: 38px;
}
